@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-primary: 255, 255, 255; /* #ffffff */
  --fg-secondary: 20, 20, 20;
  --bg-primary: 23, 23, 23; /* #171717 */
  --bg-secondary: 10, 10, 10; /* #0a0a0a */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: 10, 10, 10; /* #0a0a0a */
    --bg-secondary: 23, 23, 23; /* #171717 */
    --fg-primary: 237, 237, 237; /* #ededed */
    --fg-secondary: 215, 215, 215;
  }
}

body {
  color: rgb(var(--fg-primary));
  background: rgb(var(--bg-primary));
}

h1, h2, h3, h4, h5, h6, .cinzel {
  font-family: var(--font-cinzel), serif, 'Times New Roman', Times;
}

.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-image {
  transform: translateZ(-1px) scale(2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
