@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #ffffff;
  --bg-primary: #171717;
  --bg-secondary: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #0a0a0a;
    --bg-secondary: #171717;
    --fg: #ededed;
  }
}

body {
  color: var(--fg);
  background: var(--bg-primary);
}

h1, h2, h3, h4, h5, h6, .cinzel {
  font-family: var(--font-cinzel), serif, 'Times New Roman', Times;
}

.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-image {
  transform: translateZ(-1px) scale(2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
